*
{
    font-family: 'Handlee', cursive;
    background-size: cover;
    background: url(../images/homebg.png);
    color: #030b4e;
}
.main-content{
    height: 92vh;
    padding: 0 300px;
    text-align: center;;
}

.home{
    padding: 50px 0 20px;
    font-size: 60px;
}

.form
{
    text-align: center;
}

button
{
    margin: 5px;
}

.rep p 
{
    text-align: left;
    font-size: 20px;
    color: azure;
}
.about
{
    display: flex;
    flex-direction: row-reverse;
    margin: 70px 0 0;
}
.img
{
    height: 250px;
    width: 300px;
    border-radius: 50%;
}