<!-- End Header Navigation -->
<div class="main_footer text-center p-top-40 p-bottom-30">
    <p class="wow fadeInRight" data-wow-duration="1s">
        Made with 
        <span><i class="fa fa-heart" style="color: #e63345;"></i></span>
        
        by 
        <a target="_blank" href="http://bootstrapthemes.co/">Tueloper</a> 
        2019. All Rights Reserved
    </p>
</div>
