

  
<ul class="nav navbar-nav navbar-center " style="color: white;">
    <li><a href="/">Weather</a></li>                    
    <li><a href="/about">About</a></li>
    <li><a href="/contact">contact</a></li>
</ul>