<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="https://img.icons8.com/nolan/64/000000/partly-cloudy-day.png">
    <title>Weather-App</title>
    <!--Google Font link-->
   <link href="https://fonts.googleapis.com/css?family=Handlee|Indie+Flower|Nanum+Myeongjo" rel="stylesheet">
    
    <link rel="stylesheet" href="/css/animate.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">  
    <link rel="stylesheet" href="/css/bootsnav.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <h1>{{ about }}</h1>
        
    </div>
    {{>footer}}
</body>
</html>