<!DOCTYPE html>
<html lang="en">
<head>
     <link rel="icon" href="https://img.icons8.com/nolan/64/000000/partly-cloudy-day.png">
    <title>Weather-App</title>
    <!--Google Font link-->
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i" rel="stylesheet">
    <link rel="stylesheet" href="../../public/css/swiper.min.css">
    <link rel="stylesheet" href="../../public/css/animate.css">
    <link rel="stylesheet" href="../../public/css/iconfont.css">
    <link rel="stylesheet" href="../../public/css/font-awesome.min.css">  
    <link rel="stylesheet" href="../../public/css/magnific-popup.css">
    <link rel="stylesheet" href="../../public/css/bootsnav.css">
    <link rel="stylesheet" href="../../public/css/bootstrap.min.css">
 
    <!--For Plugins external css-->
    <!--<link rel="stylesheet" href="assets/css/plugins.css" />-->
    <!--Theme custom css -->
    <link rel="stylesheet" href="../../public/css/assets/css/style.css">

    <!--Theme Responsive css-->
    <link rel="stylesheet" href="../../public/css/assets/css/responsive.css" />

    <script src="../../public/css/assets/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
</head>
<body>
    
        
<!-- Preloader -->
    <div id="loading">
        <div id="loading-center">
            <div id="loading-center-absolute">
                <div class="object" id="object_one"></div>
                <div class="object" id="object_two"></div>
                <div class="object" id="object_three"></div>
                <div class="object" id="object_four"></div>
            </div>
        </div>
    </div><!--End off Preloader -->


    <div class="culmn">
        <!--Home page style-->


        {{>header}}

        <!--Home Sections-->

        <section id="home" class="home">
            <div class="container">
                <div class="row">
                    <div class="main_home">
                        <div class="col-md-6">
                            <div class="home_text">
                                <h1 class="text-white">Get the most fun weather app</h1>
                            </div>

                            <div class="home_btns m-top-40">
                                <a href="#" class="btn btn-danger m-top-20">Download</a>
                                <a href="#" class="btn btn-primary m-top-20">Features</a>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="phone_one phone_attr1 text-center sm-m-top-50">
                                <div class="attr_deg">9&deg;</div>
                                <div class="attr_rio text-uppercase">Rio</div>
                                <div class="attr_sun text-uppercase text-white">Sunny</div>
                                <div class="attr_lon text-uppercase text-white">London</div>
                                <img src="../../public/images/homebg.png" alt="" />
                            </div>
                        </div>

                    </div>
                    <div class="scrooldown">
                        <a href="#features"><i class="fa fa-chevron-down"></i></a>
                    </div>

                </div><!--End off row-->
            </div><!--End off container -->
        </section> <!--End off Home Sections-->



        


    
        {{>footer}}
    </div>

    <!-- JS includes -->

        <script src="../../public/js/vendor/jquery-1.11.2.min.js"></script>
        <script src="../../public/js/vendor/bootstrap.min.js"></script>
        <script src="../../public/js/jquery.magnific-popup.js"></script>
        <script src="../../public/js/jquery.easing.1.3.js"></script>
        <script src="../../public/js/swiper.min.js"></script>
        <script src="../../public/js/jquery.collapse.js"></script>
        <script src="../../public/js/bootsnav.js"></script>
        <script src="../../public/js/plugins.js"></script>
        <script src="../../public/js/main.js"></script>

</body>
</html>